.terraform
.terraform.*
terraform.tfstate
terraform.tfstate.*
.tf-zip
.swagger

!.infrastructure-terraform/terraform.tfstate
!.infrastructure-terraform/terraform.tfstate.backup
!.infrastructure-terraform/.terraform.lock.hcl

node_modules
package-lock.json

__pycache__
.env-3.9
.env-3.10
.env-3.11

.aws-lambda-artifacts
