services:
  postgres:
    image: postgres:18.1
    container_name: postgres-fetch-many-example
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=postgres
